Python 3.12
# === Core ===

pandas==2.3.3

numpy==2.3.4

openpyxl==3.1.5

python-dotenv==1.1.1

requests==2.32.5

tqdm==4.67.1
 
# === LangChain + OpenAI ===

langchain-core==1.0.0

langchain-classic==1.0.0

langchain-community==0.4

langchain-openai==1.0.1

langchain-text-splitters==1.0.0

langsmith==0.4.38

openai==2.6.0

tiktoken==0.12.0
 
# === Vector DB / Embeddings ===

faiss-cpu==1.12.0
 
# === Utility ===

regex==2025.10.23

PyYAML==6.0.3

# === E' necessario installare pandoc ===   https://pandoc.org/installing.html
 